body, html {
  height: 100%;
  background-color: #2c333c;
  font-size: 20px;
}

p, a {
  font-size: 26px;
  font-family: "Brandon-Grotesque", sans-serif;
}

a, a:visited {
  color: #0dbf7b;
  transition: all .2s ease;
}
a:hover {
  color: #f9af2b;
}

.lead {
  font-weight: 700;
  font-size: 30px;
}

.error {
  color: #e53d0a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Brandon-Grotesque", sans-serif;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 33px;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.aboutEditorContainer {
  background: rgba(100, 100, 120, 0.3);
}

.aboutEditorToolbar {
  background: transparent;
}
.aboutEditorToolbar label {
  background: transparent;
  color: #2b2b2b
}

.aboutEditorToolbar button {
  background: rgba(100, 100, 120, 1);
  border: 2px solid rgba(130, 130, 130, 0.9);
}

.aboutEditor {
  background: transparent;
  min-height: 250px;
  max-height: 300px;
  overflow-y: scroll;
  font-family: "brandon-grotesque";
}

.aboutEditor pre {
  background: rgba(100, 100, 120, 0.3) !important;
  border-left: 3px solid rgba(100, 100, 120, 0.9)
}

.aboutEditor ol li:before {
  display: none
}
.aboutEditor ol li {
  list-style-type: decimal;
}

.aboutEditor span {
  font-size: 25px;
}

.aboutEditor pre span {
  font-size: 18px;
}

.aboutEditor h1 span {
  font-size: 42px; 
}

.aboutEditor h2 {
  margin-bottom: 20px;
}

.aboutEditor h2 span {
  font-size: 38px;
}

.aboutEditor h3 {
  margin-bottom: 5px;
}

.aboutEditor h3 span {
  font-size: 32px;
}

.aboutEditor blockquote {
  background: rgba(100, 100, 120, 0.3) !important;
  border-left: 3px solid rgba(100, 100, 120, 0.9)
}

.aboutEditor blockquote span {
  font-size: 22px;
  color: #f8f8f8;
  font-family: "brandon-grotesque";
}

